:root {
  --heading-font: "Montserrat", sans-serif; /* Font for headings */
  --content-font: "Roboto", sans-serif; /* Font for content (paragraphs) */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(
    --heading-font
  ); /* Apply the heading font to all heading elements */
}

p,
a,
button {
  font-family: var(--content-font); /* Apply the content font to paragraphs */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-image: url("../images/sp_main_bg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
  color: #424242;
  font-size: 15px;
  line-height: 2rem;
}

header nav.navbar {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo .site-title {
  color: #49515d;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  margin: 20px 0;
}

span.mention {
  color: #2196f3;
}

nav.navbar .navbar-right .menu {
  display: flex;
  margin: 20px 0;
}

nav.navbar .navbar-right .menu li {
  list-style-type: none;
}

nav.navbar .navbar-right .menu li a {
  text-decoration: none;
  color: #49515d;
  display: block;
  position: relative;
  padding: 8px 0;
  margin: 0 20px;
  text-align: center;
  font-size: 15px;
  line-height: 1;
  font-weight: normal; /* You can specify 'normal' or other valid values */
  outline: none;
  opacity: 0.6;
  position: relative;
}

nav.navbar .navbar-right .menu li a::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  margin: 0 auto;
  background-color: #2196f3;
  width: 0;
  transition: width 0.3s ease-in-out;
}

nav.navbar .navbar-right .menu li a:hover::after {
  width: 25px;
}

nav.navbar .navbar-right .menu li a.active {
  opacity: 1;
}

nav.navbar .navbar-right .menu li a:hover {
  opacity: 1;
}
nav.navbar .navbar-right .menu li a.active::after {
  width: 25px;
}

// home section
.home-wrapper {
  position: relative;
  width: 1140px;
  background-color: #ffffff;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.home-header {
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  align-items: center;
  background-color: #2196f3;
  background-image: url("../images/sp_main_bg.png");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}
/* Add this to your existing CSS or link a new CSS file */

.home-header .col > img {
  width: 280px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  border: 3px solid #fff;
}

.home-header .col:nth-child(2) {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home-header .col:nth-child(2) h1 {
  font-family: var(--heading-font);
  color: #ffffff;
  font-size: 54px;
}
.home-header .col:nth-child(2) p {
  font-family: var(--content-font);
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
}

.home-header .col:nth-child(2) .social-links {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
.home-header .col:nth-child(2) .social-links a {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 24px;
  background-color: #fff;
  color: #9e9e9e;
  text-align: center;
}
.home-header .col:nth-child(2) .social-links i {
  line-height: 36px;
  font-size: 16px;
}
.home-content {
  padding: 45px 50px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin-top: 20px;
  line-height: 2.6rem;
}

.home-content .col:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.home-content .col:first-child h3 {
  font-size: 21px;
  color: #212121;
}
.home-content .col:first-child p {
  color: #424242;
  font-size: 15px;
}

.home-content .col:first-child button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.8;
  padding: 0 1.5em;
  outline: none;
  border: 0;
  border-radius: 3px;
  background-color: #fff;
  color: #212121;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.home-content .col:nth-child(2) ul li {
  list-style: none;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-gap: 10px;
  font-size: 16px;
  color: #424242;
}

.home-content .col:nth-child(2) ul li span:last-child {
  color: #9e9e9e;
}

//   footer section
.copyright {
  display: block;
  margin-top: auto;
}

.copyright p {
  margin-bottom: 12px;
  text-align: center;
  font-size: 12px;
  color: #9e9e9e;
}

/******************* Resume page styling  *******************/

$color_1: #ffffff;
$color_2: #212121;
$color_3: #2196f3;
$color_4: #424242;
$color_5: #9e9e9e;
$font-family_1: Montserrat, Helvetica, sans-serif;
$font-family_2: Roboto, Helvetica, sans-serif;
$font-family_3: inherit;
$background-color_1: transparent;
$background-color_2: #2196f3;
$background-color_3: #fff;
$background-color_4: #f5f5f5;

.pt-page {
  .section-inner {
    position: relative;
    background-color: $background-color_1;
    overflow: hidden;
    border-radius: 15px;
    -webkit-box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-transform: none;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 12px;
    background-image: url("../images/sp_main_bg.png");
  }
  .skill-percentage {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
  }
}
.section-inner {
  > .page-header {
    border: 0;
    text-align: center;
    padding: 30px 50px;
    margin: 0;
    background-color: $background-color_2;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.content-area {
  > .page-header {
    border: 0;
    text-align: center;
    padding: 30px 50px;
    margin: 0;
    background-color: $background-color_2;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.custom-page-content {
  margin-bottom: 12px;
  .block {
    margin-bottom: 30px;
  }
  .page-content {
    background-color: $background-color_3;
  }
  .page-header {
    padding: 53px 50px;
    h2 {
      font-size: 44px;
    }
  }
}
.page-header {
  h2 {
    color: $color_1;
    font-size: 44px;
    font-family: $font-family_1;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
  }
}
.page-content {
  padding: 30px 50px 50px;
  background-color: $background-color_3;
}
.fw-page-builder-content {
  .fw-container {
    padding-left: 0;
    padding-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.fw-main-row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    &:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}
.fw-container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-12 {
  width: 100%;
  width: 100%;
}
.col-sm-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.block-title {
  h3 {
    font-size: 21px;
    margin: 5px 0 25px;
    font-family: $font-family_1;
    font-weight: 700;
    font-style: normal;
    color: $color_2;
    span {
      color: $color_3;
    }
  }
}
.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.timeline {
  border-left: 2px solid #e0e0e0;
  padding: 15px 0;
}
.timeline-item {
  position: relative;
  padding: 15px 20px 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: $background-color_3;
  border-left: 2px solid #2196f3;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  &:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $background-color_3;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 20px;
    left: -29px;
    border: 2px solid #2196f3;
    z-index: 2;
  }
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $background-color_2;
    border-radius: 10px;
    width: 29px;
    height: 2px;
    top: 25px;
    left: -29px;
    z-index: 1;
  }
  .item-title {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 1.2em;
    font-family: $font-family_1;
    font-weight: 700;
    font-style: normal;
  }
  .item-period {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2em;
    color: $color_3;
    margin-bottom: 8px;
  }
  .item-small {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2em;
    color: $color_5;
    margin-left: 5px;
    margin-bottom: 8px;
    padding-left: 8px;
    border-left: 1px solid #e0e0e0;
  }
  .item-logo {
    display: block;
    margin-bottom: 5px;
    img {
      max-width: 200px;
      max-height: 48px;
    }
  }
}
p {
  font-family: $font-family_2;
  font-weight: 0;
  font-style: normal;
  color: $color_4;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 25px;
}
.skills-info {
  margin-bottom: 30px;
  h4 {
    font-size: 0.8em;
    line-height: 1.1em;
    position: relative;
    margin: 0 0 5px;
  }
}
.skill-container {
  background-color: $background-color_4;
  border: 1px solid #e0e0e0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 12px;
  margin-bottom: 12px;
  width: 100%;
}
.skill-percentage {
  background-color: $background-color_2;
  height: 10px;
  padding: 0;
}
.js {
  .pt-page {
    &:not(.pt-page-current) {
      .skill-percentage {
        width: 0 !important;
      }
    }
  }
}
.center {
  text-align: center;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-primary {
  text-transform: uppercase;
  font-family: $font-family_3;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.8;
  padding: 0 1.5em;
  outline: none;
  border: 0;
  border-radius: 3px;
}
.btn-secondary {
  text-transform: uppercase;
  font-family: $font-family_3;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.8;
  padding: 0 1.5em;
  outline: none;
  border: 0;
  border-radius: 3px;
  background-color: $background-color_3;
  color: $color_2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
  &:hover {
    background-color: $background-color_3;
    color: $color_2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  &:focus {
    background-color: $background-color_3;
    color: $color_2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}
button {
  text-transform: uppercase;
  font-family: $font-family_3;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.8;
  padding: 0 1.5em;
  outline: none;
  border: 0;
  border-radius: 3px;
}
input[type="button"] {
  text-transform: uppercase;
  font-family: $font-family_3;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.8;
  padding: 0 1.5em;
  outline: none;
  border: 0;
  border-radius: 3px;
}
input[type="submit"] {
  text-transform: uppercase;
  font-family: $font-family_3;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.8;
  padding: 0 1.5em;
  outline: none;
  border: 0;
  border-radius: 3px;
}
a {
  text-decoration: none;
}

// services section
.services-wrapper {
  position: relative;
  width: 1140px;
  background-color: #ffffff;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.services-header {
  height: 150px;
  background-color: #2196f3;
  background-image: url("../images/sp_main_bg.png");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-header h1 {
  color: #ffffff;
  font-size: 44px;
}

.services-content {
  padding: 0px 50px 50px;
  line-height: 2.6rem;
}

.services-content h3 {
  font-size: 21px;
  color: #212121;
  margin-top: 20px;
}

.services-content .services .row {
	margin: 10px auto auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.services-content .services .row .image {
  width: 120px;
  height: 120px;
  background-color: #fafafa;
  border-radius: 100px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-content .services .row .col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.services-content .services .row .image img {
  width: 50px;
}

.services-content .services .row .col h4 {
  text-align: center;
  font-size: 17px;
  color: #212121;
}

.services-content .services .row .col p {
  text-align: center;
  font-size: 15px;
  color: #212121;
}

.services-content .clients {
  margin-top: 30px;
}


.services-content .clients .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 10px auto auto;
  align-items: center;
  justify-items: center;
}


.services-content .clients .row img{
	opacity: .5;
	transition: all .5s ease-in-out;
}

.services-content .clients .row a:hover img{
	opacity: 1;
}


.testimonails .row{
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-gap: 20px;
}

.testimonails .row .col .testimonail-credits{
	display: flex;
	gap: 10px;
	// align-items: center;
	justify-content: center;
	margin-bottom: -30px;
}

.testimonails .row .col .testimonail-credits img{
	width: 80px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    border-radius: 100px;
	z-index: 1111;
}
.testimonails .row .col .testimonail-credits h5{
	font-size: 15px;
	line-height: 16px;
	color: #212121;
	font-family: var(--content-font);
}
.testimonails .row .col .testimonail-credits p{
	font-style: italic;
	color: #2196f3;
	font-size: 12px;
}
.testimonails .row .col .testimonail-content{
	padding: 2.2em 1.2em 1.5em;

    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-top: 2px solid #2196f3;
    margin: 0;
}


.pricing .row{
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	// align-items: center;
	// justify-items: center;
	grid-gap: 80px;
}
.pricing button{
	color: #fff;
    border: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.3);
	text-transform: uppercase;
    font-family: var(--content-font);
    font-size: 14px;
    font-weight: 500;
    padding: 0 1.5em;
	margin: 10px 0px;
    outline: none;
	cursor: pointer;
    border: 0;
    border-radius: 3px;
	background-color: #2196f3;
}
.pricing .row .col{
	background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 30px 30px;
    margin-bottom: 10px;
    text-align: center;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.pricing .row .col h4{
	color: #424242;
	font-size: 40px;
	font-family: var(--content-font);
}

.pricing .row .col p {
	font-size: 15px;
	color: #424242;
}


// contact section
