*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
  }

.website{
    background-color: black;
    padding: 10px;
}
.website a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
}
